<div class="product-reviews">
    
    <% @comments.each do |comment| %>
        
        <div class="row" style="padding-left:4%;">
            <HR>
                <p><small><%= comment.user.first_name %><em><%= " #{time_ago_in_words(comment.created_at)} ago" %></em></small></p>
                <div class="rated" data-score="<%= comment.rating %>"></div>
                
                <p><%= comment.body %></p>
                 
                <% if signed_in? && current_user.admin? %> 
                <p><%= link_to  product_comment_path( @product, comment), method: :delete, data: { confirm: 'Are you sure?'} do %>
                    <i class="fa fa-trash-o fa-fw"></i>
                    <% end %>
                </p>
                <% end %>
                
        </div>
    <% end %>

</div>