
<body id="pageall">
    <div class="container" style="background:white; margin-top:3%;z-index:100%;">
        <br>
    <div class="row" style="padding-top:2%;">
         <div class="col-sm-6 col-md-6">
 
                <div class="thumbnail">
                    <%= image_tag( @product.image_url, class: 'img-responsive, img-zoom', data_image_zoom: @product.image_url) %>
                </div> 
                

                <%= render 'comments' %>
              <p><%= will_paginate @comments, renderer: BootstrapPagination::Rails %></p>
                <%= render'new_comment' %>


         </div>
         <div class="col-sm-6 col-md-6">
           
                <h2 style="text-transform:uppercase;"><strong><%= @product.name %></strong></p></h2>

                <p><strong><%= @product.description %></strong></p>
        <p><b>PRICE:</b> <%= @product.price %>€ per 1/2 Kg </p>
                <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>">
                
        </div><br>
        <%= form_tag "/orders" do %>
        <%= hidden_field_tag(:product_id, @product.id) %>
                  <%= render partial: "shared/stripe_checkout_button" %>
        <% end %></p><br><br>
        <% if signed_in? && current_user.admin? %> 
                <%= link_to 'Edit', edit_product_path(@product) %> |
        <% end %> 
        <%= link_to 'Back', products_path %>
        </div>
        </div>
    </div>
</body>
