<div class="container" style="background:white; margin-top:3%;z-index:100%;">
    <p id="notice"><%= notice %></p>
    <div class="row" style="padding-top:2%;">
         <div class="col-sm-6 col-md-4">
 
                <div class="thumbnail">
                    <%= image_tag( @product.image_url, class: 'img-responsive') %>
                </div> 
                <%= render 'comments' %>
              <p><%= will_paginate @comments, renderer: BootstrapPagination::Rails %></p>
                <%= render'new_comment' %>

         </div>
         <div class="col-sm-6 col-md-4">
                <h2 class=><strong><%= @product.name %></strong></p></h2>

                <p><strong><%= @product.description %></strong></p>
                <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
        </div>
    </div>

<%= link_to 'Edit', edit_product_path(@product) %> |<%= link_to 'Back', products_path %>
</div>