<!DOCTYPE html>
<html>
<head>
  <title>FreshObst</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://use.edgefonts.net/merriweather:n9,n7,n4,n3:all;paytone-one:n4:all.js"></script>  
</head>
<body>
<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand page-scroll" id="logo"><%= link_to "FRESHOBST", root_path %></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li class="searchform">
                        <%= form_tag("/products", method: "get") do %>
                            <%= label_tag %> 
                            <%= text_field_tag(:q) %>
                            <%= button_tag(type: "submit") do %>
                                <i class='glyphicon, glyphicon glyphicon-search'></i>
                            <% end %>
                        <% end %>
                    </li>
                    <li>
                        <%= link_to "Store", products_path %>
                    </li>
                    <li>
                        <%= link_to "About", about_path %>
                    </li>
                    <li>
                        <% link_to "Orders", orders_path %>
                    </li>
                    <li>
                        <%= link_to "Contact", contact_path %>
                    </li>
                </ul>

                <ul class="nav pull-left" style="padding-left:1%; padding-top:0.7%;">
                    <% if notice %>    
                        <p class="alert alert-success" style="color:green;"><%= notice %></p>
                    <% end %>
                    <% if alert %>
                        <p class="alert alert-danger" style="color:white;"><%= alert %></p>
                    <% end %>
                
                </ul>
                <ul class="nav pull-right" style="padding-top: 0.5%; padding-right: 0.5%">
                    <li>
                        <% if user_signed_in? %>
                            <%= link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'btn-danger') %>
                        <% else %>
                        <%= link_to('Login', new_user_session_path, :class => 'btn-warning') %>
                        <% end %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <%= yield %>
<header>
        <div class="header-content">
            <%= render 'partials/header' %>
        </div>
</header>
   


   
</body>
<!--    <%= render 'partials/footer' %> -->
</html>
